/* MENU */

.navbar .navbar-nav .nav-item .nav-link {
    color:#20655A;
    text-transform: uppercase;
    margin-left: 25px;
    margin-right: 25px;
    font: 27px;
} 

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-color: #CCD5CA;
  font-family: Hubballi;
}

.container {
  background-color: #CCD5CA;
  width: 100%
}

.navbar,
.menu {
    background-color: #CCD5CA;
    font-size: 20px;
}

.barra-topo {
    background-color: #CCD5CA;
    padding-bottom: 20px;
    padding-top: 20px;
}  

@media (max-width: 767px) {
  .barra-topo img {
      max-width: 50%;
  }
}

/* FONTES ADICIONADAS */

@font-face {
    font-family: Bagrile;
    src: url(bagrile.otf);
}

@font-face {
  font-family: Buffalo;
  src: url(Buffalo.otf);
}

@font-face {
  font-family: Hubballi;
  src: url(hubballi.ttf);
}

/* INDEX | ONDAS 1 */

.curved {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%
  }
  
  .curved svg {
    width: 100%;
    height: auto;
  }
  
  .curved-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    font-family: Bagrile;
    font-size: 48px;
    color: #CCD5CA;
    margin: 0;
    text-transform: uppercase
  }

  @media (max-width: 767px) {
    .curved-text {
        top: 80px; /* Adjust this value to fit your design */
    }
}

/* INDEX | CAIXAS FEEDBACK */

@media (max-width: 767px) {
  .Feedback {
      margin-top: 40px; /* Adjust this value to fit your design */
  }
}

.box {
  background-color: #CCD5CA;
  border-radius: 10px; /* Cantos redondos */
  padding: 20px; /* Padding dentro da caixa */
  margin-bottom: 20px; /* Espaço entre as caixas */
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Fazer com que os items estejam dispostos verticalmente */
  position: relative; 
  height: 150px;
}

.box-text-name {
    font-family: Bagrile;
    margin-bottom: 5px;
    color: #20655A;
    font-size: 20px;
}

.box-text {
    margin-top: 5px;
    color: #20655A;
}

.box-text-name, .box-text {
  display: block;
}

.box-date {
  position: absolute; /* Position the date absolutely */
  top: 0; /* Alinhar a data ao topo */
  right: 0; /* Alinhar a data à direita */
  margin: 20px; /* Adicionar espaço à volta da data */
  font-size: 14px;
  color: #20655A;
}

.sticker-img-fluid {
  max-width: 100%;
}

/* INDEX | COMO NASCEU A ARTSTETIC? */

.rounded-rectangle {
  background-color: #CCD5CA;
  border-radius: 10px;
  padding: 20px; /* Para que o conteúdo não fique demasiado próximo das margens */
  margin-top: 40px;
  margin-bottom: 50px;
}

.title {
  font-family: Bagrile;
  color: #20655A;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.paragraph {
  font-family: Hubballi;
  color: #20655A;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.como-nasceu-img-fluid {
  max-width: 150%;
  padding-left: 0px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .rounded-rectangle {
      max-width: 90%; 
      margin-left: auto;
      margin-right: auto;
  }
  .como-nasceu-img-fluid {
    max-width: 100%;
  }
}

/* ESTILOS | POLAROIDS */

.polaroid {
  padding-top: 40px;
}

.escolher h2 {
  font-family: Bagrile;
  font-size: 40px;
  color: #20655A;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.polaroidmin {
  transform: rotate(-6.75deg);
  padding-top: 50px;
  padding-bottom: 100px;
}

.polaroisemi {
  padding-bottom: 100px;
}

.polaroiddet {
  transform: rotate(7.53deg);
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .polaroid img {
      max-width: 80%;
      margin: 0 auto;
      display: block;
  }

  .row.polaroid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .polaroid {
      padding: 20px 0;
      margin-bottom: 20px;
  }

  .polaroidmin {
      transform: none;
      padding-top: 0;
      padding-bottom: 20px;
  }

  .polaroiddet {
      transform: none;
      padding-top: 20px;
      padding-bottom: 0;
  }
}


/* RODAPÉ */

footer {
  background-color: #20655A;
  padding: 20px 0;
  padding-top: 30px;
  width: 100%;
}

.footer-container {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.logo img {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

.logo,
.links {
  margin-bottom: 25px; 
}

.icons {
  margin-bottom: 20px;
}

.links a {
  margin-right: 20px;
  font-family: Hubballi;
  color: #CCD5CA;
  text-decoration: none;
  font-size: 20px;
}

.links a:hover {
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons a {
  margin: 0 10px;
  color: #CCD5CA;
  text-decoration: none;
}

.links a, .separator {
  margin: 0 10px;
  text-decoration: none;
  color: #CCD5CA;
}

.icons i {
  font-size: 24px;
}

.separator {
  margin: 0 5px;
  color: #CCD5CA;
}

/* INDEX | ORÇAMENTO */

.orcamento {
  background-color: #CCD5CA;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
}

.orcamento h2 {
  font-family: Bagrile;
  color: #20655A;
  font-size: 40px;
  text-transform: uppercase;
}

.orcamento h1 {
  font-family: Buffalo;
  color: #20655A;
  font-size: 30px;
}

.rounded-button {
  display: inline-block;
  border-radius: 5px;
  background-color: #20655A;
  color: #CCD5CA;
  font-family: Hubballi;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: 20px;
}

.rounded-button:hover {
  background-color: #175049;
}

/* MIN, SEMI, DET | TEXTO */

.titulo {
  background-color: #CCD5CA;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  display: block;
}

.titulo h2 {
  font-family: Bagrile;
  color: #20655A;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}

.back-link {
  text-decoration: none; /* Apagar a linha do link */
}

.back-link .arrow {
  color: #20655A; 
  font-size: 30px;
}

.back-link .text {
  font-family: Buffalo;
  color: #20655A;
  font-size: 30px;
}

.titulo p {
    font-family: Hubballi;
    color: #20655A;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
}

@media (max-width: 767px) {
  .titulo {
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 20px;
  }

  .titulo h2 {
      font-size: 30px;
      margin-top: 20px;
  }

  .titulo p {
      font-size: 18px; /* Decrease font size */
      margin-bottom: 20px; /* Add margin to bottom */
  }
}

/* MIN, SEMI, DET | GRID */

.photo-grid {
  margin-top: 10px;
  margin-bottom: 50px;
}

.photo-grid img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.vertical-image {
  margin-right: 10px;
}

.horizontal-image {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .photo-grid {
      margin-top: 20px; /* Reduce top margin */
      margin-bottom: 20px; /* Reduce bottom margin */
      margin-right: 20px;
      margin-left: 20px;
  }
}

/* INDEX | ONDAS 2 */

.curved2 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0px;
}

/* MIN, SEMI, DET | BOTÃO */

.centered-button-container {
  display: flex;
  justify-content: center;
}

.centered-button {
  font-family: Hubballi;
  font-size: 20px;
  background-color: #20655A;
  color: #CCD5CA;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  margin-bottom: 60px;
  margin-top: 0px;
  text-decoration: none;
}

.centered-button:hover {
  background-color: #175049;
}

/* COOKIES */

.cookies {
  background-color: #CCD5CA;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  display: block;
}

.cookies h2 {
  font-family: Bagrile;
  color: #20655A;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}

.cookies p {
  font-family: Hubballi;
  color: #20655A;
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .cookies {
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 20px;
  }
}

/* ENVIOS */

.envios {
  background-color: #CCD5CA;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

.envios h2 {
  font-family: Bagrile;
  color: #20655A;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 30px;
}

.envios p {
  font-family: Hubballi;
  color: #20655A;
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.highlights-button-container {
  display: flex;
  justify-content: center;
}

.highlights-button {
  font-family: Hubballi;
  font-size: 20px;
  background-color: #20655A;
  color: #CCD5CA;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 20px;
  text-decoration: none;
}

.highlights-button:hover {
  background-color: #175049;
}

.packaging-img-fluid {
  max-width: 77%;
  border-radius: 10px;
  justify-content: right;
  text-align: right;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .envios {
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 20px;
  }
  .highlights-button-container {
    display: flex;
    justify-content: left;
  }
  .packaging-img-fluid {
    justify-content: center;
  }
}

/* MENU BOLD */

.active {
  font-weight: bold;
}

/* NOVIDADE */

.rounded-box {
  background-color: #20655A;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.novidade-title {
  font-family: Bagrile;
  color: #CCD5CA;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 20px;
}

.novidade-text {
  font-family: Hubballi;
  color: #CCD5CA;
  font-size: 20px;
  margin-left: 20px;
}

.horizontal-image-img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.botao-novidade-container{
  margin-top: 60px;
  margin-bottom: 20px;
}

.botao-novidade {
  font-family: Hubballi;
  font-size: 20px;
  background-color: #CCD5CA;
  color: #20655A;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  margin-left: 20px;
  text-decoration: none;
}

.botao-novidade:hover {
  background-color: transparent; 
  border: 2px solid #CCD5CA;
  color: #CCD5CA;
}

/* Media query para ecrãs mais pequenos que 768px */
@media (max-width: 767px) {
  .rounded-box {
      padding: 10px; 
      margin-left: 10px;
      margin-right: 10px;
  }

  .novidade-title {
      font-size: 30px;
  }

  .novidade-text {
      font-size: 18px;
  }

  .horizontal-image-img-fluid {
      margin-top: 20px;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .botao-novidade-container {
      margin-top: 40px;
  }

  .botao-novidade {
      font-size: 18px;
      margin-left: 10px;
  }
}